.slide_show{
    padding-left: 45px;
    margin-top: 75px;
    margin-left: 22.5px;
    margin-right: 0.5in;
    font-family: Georgia, Arial;
}
p{
    /* padding-left: 10px; */
    padding-bottom: 3px;
    font-family: Georgia, Arial;
}
td.h1 {
    margin-bottom: 10px; 
    border-bottom: #00000e 3px solid; 
	padding-right: 20px; 
    padding-left: 5px; 
    padding-bottom: 3px; 
    padding-top: 0px;
}
span.h1 {
	font-size: 15pt; 
    color: #000000; 
    font-family: Georgia, Arial;
    font-weight:bold;
}
.h1 {
	color: #000080; 
    font-family: Georgia, Arial;
}
h2 {
    padding-bottom: 10px;
	color: #000000; 
    font-family: Georgia, Arial;
}
b{
    font-family: Georgia, Arial;
}
td.h2 {
	padding-right: 0px; 
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 6px;
    vertical-align: top;
    width: 1%;
}
li {
    padding-top: 1px;
    padding-bottom: 7px;
    color: #000000; 
    list-style-type: none;
    font-family: Georgia, Arial;
	/* MARGIN-LEFT: -1em */
}
li.h3 {
    list-style-position: inside;
    list-style-type: square;
}
td {
	padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px; 
    padding-top: 0px;
}
font.work{
    font-family: Georgia, Arial;
    font-style: italic
}
ol {
	margin-top: 0em;
    margin-bottom: 0em
}
a {
    text-decoration:none; 
    color:#0000bd;
    font-family: Georgia, Arial;
}
a:hover {
    text-decoration:underline; 
    color:#800000
}

/***************** skill bar ****************/
.container{
    width: 550px;
    /* border-radius: 10px; */
    padding: 10px 12px;
}

.container .skill{
    margin-bottom: 35px;
    width: 100%;
    align-items: center;
    position: relative;
}

.container .skill h3{
    font-size: 12pt;
    font-weight: normal;
    font-family: Georgia, Arial;
    display: inline-block;
}

.container .skill h4{
    font-weight: normal;
    font-family: Georgia, Arial;
    float: right;
}

.container .skill .skill-bar{
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    height: 12px;
    border-style: solid;
    border-color: #000000;
    background: #ffffff;
}

.container .skill .fill-bar{
    position: absolute;
    top: 22px;
    left: 0;
    height: 17px;
    background: #000000;
}

.container .skill .verilog{
    width: 95%;
}

.container .skill .cpp{
    width: 95%;
}

.container .skill .python{
    width: 85%;
}

.container .skill .perl{
    width: 70%;
}

.container .skill .javascript{
    width: 70%;
}
/***************************************/