* {
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
}

/***************** navigation bar ********************/
.Logo {
  position: relative;
  height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.side_nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: rgba(211, 211, 211, 0.945);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 66px;
}

.nav_item {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #3b3b3b;
  transition: all 0.3s ease-out;
}

.side_nav a:hover {
  color: #f1f1f1;
}

#closebtn {
  position: absolute;
  top: 18px;
  left: 16px;
  font-size: 40px;
  /* margin-left: 50px; */
  text-decoration: none;
  visibility: hidden;
  /* transition: opacity 0.3s ; */
  color: #3b3b3b;
}

#openbtn {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  left: 16px;
  top: 18px;
  text-decoration: none;
  /* transition: opacity 0.3s ; */
  color: #3b3b3b;
}
/**********************************************/

/***************** content ********************/
.slide_show {
  width: 100%;
  /* z-index: -1; */
  /* margin-top: 75px; */
}

.slide_1 {
  display: none;
}

.slide_mobile {
  width: 100%;
  /* padding-top: 10px; */
  display: block;
}
/*********************************************/
/***************** footer ********************/
.footer{
  padding-left: 10%;
}
@media screen and (min-width:650px) {
  /***************** navigation bar ********************/
  #openbtn {
    display: none;
  }

  #closebtn {
    display: none;
  }

  .Logo {
    position: fixed;
    margin-left: 8px;
  }

  .top_nav {
    position: fixed;
    /* display: flex; */
    background-color: rgb(255, 255, 255);
    top: 0px;
    height: 75px;
    width: 100%;
  }
  
  .side_nav {
    display: flex;
    flex-direction: row;
    height: 75px;
    width: auto !important;
    background-color: rgba(255, 255, 255, 0);
    transition: unset;
    padding-top: 0px;
    left: 100px;
  }

  .nav_item {
    cursor: pointer;
    font-size: 16px;
    color: #0b0b0b;
    height: 25px;
    padding-left: 20px;
    padding-top: 30px;
    transition: unset;
    text-decoration: none;
  }
  .slide_1 {
    width: 100%;
    padding-top: 75px;
    display: block;
    /* z-index: -1; */
  }
  .slide_mobile {
    display: none;
  }
  /*********************************************/
  /**********************************************/
  .footer{
    padding-left: 75px;
  }  
}

