#backvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

:root {
    background-color: #f8f2dc;
    font-family: 'Cormorant Garamond', serif;
    /* font-family: 'Volkhov', serif; */
    text-align: center;
    font-style: normal;
    font-weight: bold;
}
.titlelogo {
    font-family: 'Cinzel', serif;
    width: 400px;
    display:block; 
    margin: auto;
}
.titlelogo p {
    margin-top: 0px;
}
.gallery {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 20%;
}
.gallery_overlay {
    position:absolute;
    height: 100% ;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6) ; 
    animation-duration: 1s; 
    clip-path:inset(0 4px 4px 0);
    /* border-radius: 10%; */
    /* padding: 1px; */
   
} 
.gallery p{
    color: #FFFFFF;
    font-size: 20px;
    /* display: flex;
    margin: 25%;
    justify-content: center; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
@keyframes touch {
    from {opacity: 1.0;}
    to {opacity: 0;}
     
}
.gallery_overlay:hover {
    background-repeat: no-repeat;
    animation-name: touch;
    opacity: 0;
}
.gallery_img {
    padding: 0 2px;
    position: relative;

}
img {
    /* border-radius: 10%; */
    max-width: 100%;
    /* opacity: 0.4; */
}
.fab {
    width: 50px;
    animation-duration: 4s;
    /* transition: transform 1s;     */
    transition: width 1s;   
    
}
.fa-instagram:hover {
    width: 300px;
    /* transform: translate(-90px);    */
    /* display: inline;  */
}

.fa-github:hover {
    width: 300px;
    /* transform: translate(-105px); */
    /* display: inline;  */
}
a {
    text-decoration:none;
}
.link_text {
    display: inline;
    position: relative;
    bottom: 8px;
    opacity: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    animation-duration: 2s;
}
.fab:hover .link_text{
    animation-name: text_appear;
    opacity: 1;
}
@keyframes text_appear {
    from {opacity: 0;}
    to {opacity: 1;}   
}
