* {
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
}

.Logo {
  height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.side_nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: rgba(255, 216, 45, 1);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 66px;
}

.nav_item {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  transition: all 0.3s ease-out;
}

.side_nav a:hover {
  color: #f1f1f1;
}

#closebtn {
  position: absolute;
  top: 18px;
  left: 16px;
  font-size: 40px;
  /* margin-left: 50px; */
  text-decoration: none;
  visibility: hidden;
  /* transition: opacity 0.3s ; */
  color: #818181;
}

#openbtn {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  left: 16px;
  top: 18px;
  text-decoration: none;
  /* transition: opacity 0.3s ; */
  color: #818181;
}

.slide_1 {
  width: 100%;

}

@media screen and (min-width:650px) {
  #openbtn {
    display: none;
  }

  #closebtn {
    display: none;
  }

  .Logo {
    margin-left: 8px;

  }

  .top_nav {
    display: flex;
  }
  
  .side_nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0);
    width: auto !important;
    transition: unset;
    padding-top: 0px;
    left: 100px;
  }

  .nav_item {
    cursor: pointer;
    font-size: 16px;
    color: #0b0b0b;
    height: 25px;
    padding-left: 20px;
    padding-top: 30px;
    transition: unset;
    text-decoration: none;
  }
}